body{
  font-family: 'Kumbh Sans', sans-serif;
}
.btn-black{
  background:transparent;
  text-transform:capitalize;
  font-size:0.8rem !important;
  color:black;
  border-radius:0 !important;
  border:0.1rem solid orange !important;
  font-weight:bold;

}
.btn-black:hover{
  background:black;
  color:white;
}
.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
}